/*
!/.git/
!/alacritty/
!/bspwm/
!/dunst/
!/gtk*/
!/hypr/
!/mpv/
!/networkmanager-dmenu/
!/nvim/
!/picom/
!/polybar/
!/ranger/
!/rofi/
!/ruff/
!/sxhkd/
!/touchegg/
/touchegg/*
!/touchegg/touchegg.conf
!/user/
!/waybar/
!/wofi/
!LICENSE
!README.md
