/*
!/.git/
!/aerospace/
!/alacritty/
alacritty/.config/alacritty/alacritty-local.toml
!/borders/
!/bin/
!/bspwm/
!/btop/
!/colors/
colors/.config/colors/current.conf
colors/.config/colors/current_scheme
!/docs/
!/dualboot/
!/dunst/
dunst/.config/dunst/dunstrc
!/env/
env/.config/env/env
!/fastfetch/
!/gnome/
!/gtk*/
**/gtk*/bookmarks
!/hypr/
!/kitty/
!/leaderkey/
!/mime/
!/mpv/
!/networkmanager-dmenu/
!/niri/
!noctalia/
noctalia/.config/noctalia/*
!noctalia/.config/noctalia/settings-template-v4.json
!noctalia/.config/noctalia/config-template-v5.toml
/niri/.config/niri/animations.kdl
!/nvim/
nvim/.config/nvim/lazy-lock.json
!/opencode/
opencode/.config/opencode/node_modules/
opencode/.config/opencode/package.json
opencode/.config/opencode/package-lock.json
opencode/.config/opencode/.gitignore
!/picom/
!/polybar/
polybar/.config/polybar/scale_active.ini
!/ranger/
!/rofi/
rofi/.config/rofi/config.rasi
!/ruff/
!/screenshots/
!/ssh/
ssh/.ssh/*
!/ssh/.ssh/config
!/sxhkd/
!/tmux/
!/touchegg/
/touchegg/.config/touchegg/*
!/touchegg/.config/touchegg/touchegg.conf
!/user/
!/waybar/
!/wallpapers/
!/wofi/
!/x11/
!/yazi/
/yazi/.config/yazi/plugins/
!/zsh_linux/
!/zsh_mac/
!AGENTS.md
!backlog.md
!LICENSE
!README.md
!install.sh
.DS_Store
