configuration {
    modi: "drun,run";
    show-icons: true;
    icon-theme: "Papirus";
    font: "JetBrains Mono Nerd Font 14";
    background:     #282C34;
    foreground:     #ABB2BF;
    border:         1;
    border-color:   #5C6370;
    border-radius:  8;
    padding:        10;
    element-padding: 5;
    scrollbar-width: 8;
    scrollbar-handle-color: #98C379;
    selected-background: #E7C787;
    selected-foreground: #ABB2BF;
    window {
        width: 800px;
        border-radius: 10px;
        padding: 10px;
    }
}


* {
    bg0:    #282C34;
    bg1:    #21252B00;
    bg2:    #E7C787;
    bg3:    #E7C787;
    fg0:    #ABB2BF;
    fg1:    #ABB2BF;
    fg2:    #5C6370;
    fg3:    #ABB2BF;
}
@import "~/.config/rofi/themes/template/rounded-template.rasi"
