# ===== МОНИТОРЫ =====
# Узнать названия: xrandr --listmonitors | awk '{print $4}'
export INTERNAL_MONITOR="HDMI-0"
export EXTERNAL_MONITOR="DVI-D-0"

# ===== ЛОКСКРИН =====
# Обои для i3lock/swaylock
# Используется: bspwmrc (feh --bg-fill)
export LOCKSCREEN_IMAGE="$HOME/.config/wlppr/nordic-wallpapers/Minimal-Nord.png"

# ===== POLYBAR: БАТАРЕЯ =====
# Узнать названия: ls /sys/class/power_supply/
export POLYBAR_BATTERY="BAT0"
export POLYBAR_ADAPTER="ADP1"

# ===== POLYBAR: ТЕМПЕРАТУРА CPU =====
# Узнать путь: ls /sys/class/hwmon/*/temp*_input
export POLYBAR_HWMON_PATH="/sys/class/hwmon/hwmon1/temp1_input"
